.top-table {
    display: flex;
    flex-direction: column; /* Cambia de fila a columna */
    justify-content: flex-start;
    align-items: flex-start; /* Alinea los elementos al inicio */
    gap: 10px; /* Espacio entre título y acciones */
    width: 100%;
    margin-bottom: 20px; /* Añade espacio debajo del contenedor */
}

.title-table {
    color: #003366;
    margin-left: 0; /* Elimina el margen izquierdo */
}

.filter-actions {
    display: flex;
    gap: 10px;
}

@media (max-width: 767px) {
    .top-table {
        gap: 10px; /* Mantén el espacio adecuado */
    }

    .filter-actions {
        width: 100%;
        justify-content: flex-start; /* Alinea las acciones de filtro a la izquierda */
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .top-table {
        gap: 15px; /* Ajusta el espacio para pantallas medianas */
    }
}
