.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f9f9f9;
    min-height: 100vh;
}
  

.table-container {
    width: 90%;
    max-width: 1200px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}
  
  
.top-table {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #709fd6;
    padding: 15px 20px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}
  
.title-table {
    margin: 0;
}
  

  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead {
    background-color: #f1f1f1;
  }
  
  th, td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    font-size: 14px;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tbody tr:hover {
    background-color: #eaf5ff;
    transition: background-color 0.3s ease;
  }
  
  /* Botones */
  button {
    background-color: #4a90e2;
    color: #fff;
    border: none;
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  
  Link {
    background-color: #4a90e2;
    color: #fff;
    border: none;
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #357abd;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  /* Responsivo */
  @media (max-width: 768px) {
    .table-container {
      width: 100%;
    }
  
    th, td {
      font-size: 12px;
    }
  }
  