/* General Styles for Navbar */
.navbar {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 9vh;
	background-color: #003366;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10px;
	z-index: 1000;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .username-display {
	position: absolute;
	margin-left: 85%;
	font-size: 1rem;
	color: #ffffff;
	font-weight: bold;
  }
  
  .nav-menu {
	display: flex;
	align-items: center;
  }
  
  .nav-menu ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
  }
  
  .nav-menu ul li {
	margin: 0 15px;
  }
  
  .nav-menu ul li a {
	color: #ffffff;
	text-decoration: none;
	font-size: 1rem;
	padding: 5px 10px;
	border-radius: 4px;
	transition: background-color 0.3s, color 0.3s;
  }
  
  .nav-menu ul li a:hover,
  .nav-menu ul li a.active {
	background-color: #006edf;
	color: #ffffff;
  }
  
  .hamburger {
	display: none; /* Hidden by default */
	flex-direction: column;
	justify-content: space-around;
	width: 30px;
	height: 25px;
	cursor: pointer;
	z-index: 1001;
  }
  
  .hamburger .bar {
	width: 100%;
	height: 3px;
	background-color: white;
	border-radius: 2px;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
	.nav-menu {
	  position: absolute;
	  top: 9vh;
	  left: 0;
	  width: 100%;
	  height: calc(100vh - 9vh);
	  background-color: #003366;
	  flex-direction: column;
	  justify-content: flex-start;
	  align-items: center;
	  transform: translateX(-100%);
	  transition: transform 0.3s ease;
	}
  
	.nav-menu.activado {
	  transform: translateX(0);
	}
  
	.nav-menu ul {
	  flex-direction: column;
	  width: 100%;
	  text-align: center;
	}
  
	.nav-menu ul li {
	  margin: 10px 0;
	}
  
	.nav-menu ul li a {
	  width: 100%;
	  padding: 10px 0;
	  font-size: 1.2rem;
	}
  
	.hamburger {
	  display: flex; /* Show hamburger icon */
	}
  }
  